h1
{ 
	color: saddlebrown;
}

body
{ 
	background-color: beige;
}

#site 
{ 

		width: 1000px;
		margin:0 auto;
		background-color: white;
		text-align: center;
		align-content: center;
}

ul li 
{ 
 	list-style-type: none;
}

h2 
{ 
	color: saddlebrown;
}
